* {
    margin: 0;
    padding: 0;
    cursor: pointer;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    img {
        width: $max-width;
        object-fit: cover;
    }

    section {
        padding: $section-padding-desktop;

        @include media-breakpoint-down(s) {
            padding: $section-padding-mobile;
        }
    }
}