// ==========================================================================
// BACKGROUND
// ==========================================================================

.bg-transparent {
    background-color: transparent !important;
}

// ==========================================================================
// BORDER
// ==========================================================================

.b-none {
    border: $b-none !important;
}

.border-dark {
    border: $border-dark;
}

.border-b-dark {
    border-bottom: $border-dark;
}

// ==========================================================================
// Z-INDEX
// ==========================================================================

.z-index-3 {
    z-index: 3;
}

// ==========================================================================
// RADIUS
// ==========================================================================

.rad-12 {
    border-radius: $radius-12;
}

.rad-18 {
    border-radius: $radius-18;
}

.rad-24 {
    border-radius: $radius-24;
}

// ==========================================================================
// TEXT
// ==========================================================================

.text-uppercase {
    text-transform: $uppercase;
}