// ==========================================================================
// COLORS
// ==========================================================================
$color-dark: #222220;
$color-light: #E6E6E6;
$primary-color: #686864;
$secondary-color: #535350;
$accent-color: #6e5783;

// Transparent
$bg-transparent: transparent;

// ==========================================================================
// WIDTH
// ==========================================================================
$max-width: 100%;

// ==========================================================================
// BREAKPOINTS
// ==========================================================================
$breakpoints: (
    xxs: 320px,
    xs: 380px,
    s: 480px,
    m: 769px,
    l: 992px,
    xl: 1114px,
    xxl: 1280px,
    xxxl: 1500px,
);

// ==========================================================================
// SPACING ( MARGIN & PADDING )
// ==========================================================================

// Spacing scale
$spacing-none: 0rem;
$spacing-xxs: 0.5rem;
$spacing-xs: 1rem;
$spacing-s: 2rem;
$spacing-m: 3rem;
$spacing-lg: 5rem;
$spacing-xl: 10rem;
$spacing-xxl: 12rem;

// Specific spacing
$section-padding-mobile: $spacing-xl $spacing-xs;
$section-padding-desktop: $spacing-xxl $spacing-none;

// Specific components
$offcanvas-padding-desktop: $spacing-m $spacing-xl;
$offcanvas-padding-tablet: $spacing-m $spacing-m;
$offcanvas-padding-mobile: $spacing-s $spacing-xs;

$footer-padding-desktop: $spacing-lg $spacing-none;
$footer-padding-mobile: $spacing-lg $spacing-xs;

// ==========================================================================
// DIRECTION
// ==========================================================================
$direction-row: row;
$direction-column: column;
$direction-row-reverse: row-reverse;

// ==========================================================================
// POSITION
// ==========================================================================
$position-fixed: fixed;
$position-absolute: absolute;

// ==========================================================================
// OVERFLOW
// ==========================================================================
$overflow-hidden: hidden;

// ==========================================================================
// DISPLAY
// ==========================================================================
$d-none: none;
$d-block: block;
$d-flex: flex;

// ==========================================================================
// ANIMATIONS & EFFECTS
// ==========================================================================
$transition-property: all;
$transition-duration: 0.3s;
$transition-ease: $transition-property $transition-duration ease;
$transition-ease-in-out: $transition-property $transition-duration ease-in-out;

// ==========================================================================
// BORDER
// ==========================================================================
$b-none: none;
$border-thin: 1px;
$border-style: solid;
$border-dark: $border-thin $border-style $color-dark;
$border-light: $border-thin $border-style $color-light;
$border-accent: $border-thin $border-style $accent-color;

// ==========================================================================
// BUTTONS
// ==========================================================================
$radius-12: 12px;
$radius-18: 18px;
$radius-24: 24px;

// ==========================================================================
// TEXT
// ==========================================================================

// Transform
$uppercase: uppercase;

// Align
$text-justify: justify; 
$text-left: left;
$align-items-center: center;

// ==========================================================================
// BUTTONS
// ==========================================================================
$padding-button: $spacing-xs;