.btn {
    font-size: 15px;
    font-weight: 700;
    padding: $padding-button;
    letter-spacing: 1px;
    border-radius: $radius-18;
    font-family: $font-subtitle;
    text-transform: $uppercase;
    transition: $transition-ease-in-out !important;

    &:hover,
    &:focus,
    &:active { 
        padding-left: $spacing-s;
    }
}

.btn-max {
    width: $max-width;
}

.btn-border-light {
    color: $color-light;
    border: $border-light;
    &:hover,
    &:focus,
    &:active { 
        color: $color-light !important;
        border: $border-accent !important;
        background-color: $accent-color !important;
    }
}

// .button-border {

// }