$clip-header: polygon(0% 0%, 100% 0%, 100% 0%, 100% 0%, 96% 100%, 4% 101%, 4% 100%, 1% 26%);

.header {
    z-index: 10;
    height: 80px;
    padding: 0 1px;
    width: $max-width;
    clip-path: $clip-header;

    .navbar {
        height: 79px;
        background-color: $color-dark;
        clip-path: $clip-header;

        .container-fluid {
            margin: -7px 6rem 0 6rem;

            @include media-breakpoint-down(s) {
                margin: -7px 2rem 0 2rem !important;
            }

            .navbar-brand {
                width: 10%;

                @include media-breakpoint-down(s) {
                    width: 50% !important;
                }
        
                .logo {
                    width: 16%;
                }
            }

            .navbar-nav {
                .nav-link,
                .dropdown-item {
                    @include nav-link;
    
                }
            }

            .button-lang {
                padding: 0rem !important;
            }
        }
    }
}