* {
  margin: 0;
  padding: 0;
  cursor: pointer;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body img {
  width: 100%;
  object-fit: cover;
}
body section {
  padding: 12rem 0rem;
}
@media (max-width: 480px) {
  body section {
    padding: 10rem 1rem;
  }
}

@font-face {
  font-family: "Perfect Dark";
  src: url("../../../company-code/assets/fonts/pdark/pdark.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Orbitron";
  src: url("../../../company-code/assets/fonts/orbitron/Orbitron-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Orbitron";
  src: url("../../../company-code/assets/fonts/orbitron/Orbitron-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Orbitron";
  src: url("../../../company-code/assets/fonts/orbitron/Orbitron-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Orbitron";
  src: url("../../../company-code/assets/fonts/orbitron/Orbitron-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Orbitron";
  src: url("../../../company-code/assets/fonts/orbitron/Orbitron-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Orbitron";
  src: url("../../../company-code/assets/fonts/orbitron/Orbitron-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("../../../company-code/assets/fonts/exo/Exo2-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("../../../company-code/assets/fonts/exo/Exo2-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("../../../company-code/assets/fonts/exo/Exo2-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("../../../company-code/assets/fonts/exo/Exo2-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
  word-wrap: break-word;
  font-family: "Perfect Dark", sans-serif;
}

@media (max-width: 992px) {
  h1 {
    line-height: 5rem;
    font-size: 5rem !important;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 6.5rem !important;
  }
}
@media (min-width: 1500px) {
  h1 {
    font-size: 10rem !important;
    line-height: 9rem !important;
  }
}

@media (max-width: 480px) {
  #h1 {
    font-size: 3.2rem !important;
    line-height: 4rem !important;
  }
}

h2,
h3,
h4 {
  line-height: 7rem;
}

@media (max-width: 480px) {
  h2,
h3 {
    font-size: 3rem !important;
    line-height: 3rem !important;
  }
}
@media (max-width: 992px) {
  h2,
h3 {
    font-size: 5.5rem;
  }
}
@media (min-width: 1114px) {
  h2,
h3 {
    font-size: 7rem !important;
  }
}

.subtitle {
  font-size: 1.3rem;
  font-family: "Orbitron", sans-serif;
}

p,
a {
  font-weight: 300;
  font-family: "Exo 2", sans-serif;
}

strong {
  font-weight: 800 !important;
}

.copyright {
  font-size: 13px;
  font-weight: 800;
  color: #646464;
  font-family: "Orbitron", sans-serif;
}

.bg-transparent {
  background-color: transparent !important;
}

.b-none {
  border: none !important;
}

.border-dark {
  border: 1px solid #0A0A0A;
}

.border-b-dark {
  border-bottom: 1px solid #0A0A0A;
}

.z-index-3 {
  z-index: 3;
}

.rad-12 {
  border-radius: 12px;
}

.rad-18 {
  border-radius: 18px;
}

.rad-24 {
  border-radius: 24px;
}

.text-uppercase {
  text-transform: uppercase;
}

.btn {
  font-size: 13px;
  font-weight: 700;
  padding: 0.5rem 1rem;
  letter-spacing: 1px;
  font-family: "Orbitron", sans-serif;
}

.header {
  padding: 10px;
}
@media (max-width: 480px) {
  .header {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
@media (max-width: 992px) {
  .header {
    padding-right: 2rem;
  }
}
@media (max-width: 1500px) {
  .header {
    padding-left: 3rem;
    width: 100% !important;
  }
}
.header .navbar {
  width: 15%;
  flex-direction: column;
}
@media (max-width: 1500px) {
  .header .navbar {
    width: 100% !important;
    flex-direction: row !important;
  }
}
.header .navbar .brand {
  width: 80%;
}
@media (max-width: 480px) {
  .header .navbar .brand {
    width: 50% !important;
  }
}
@media (max-width: 1500px) {
  .header .navbar .brand {
    text-align: left !important;
  }
}
@media (max-width: 992px) {
  .header .navbar .brand img {
    width: 18% !important;
  }
}
@media (max-width: 1500px) {
  .header .navbar .brand img {
    width: 22%;
  }
}
@media (max-width: 480px) {
  .header .navbar .brand .logo {
    width: 44% !important;
  }
}
.header .navbar .navbar-toggler {
  width: 6%;
  margin-top: -5px;
}
@media (max-width: 480px) {
  .header .navbar .navbar-toggler {
    width: 17% !important;
    margin-top: -1rem;
  }
}
@media (max-width: 992px) {
  .header .navbar .navbar-toggler {
    width: 10%;
  }
}
.header .navbar .navbar-toggler .toggler-icon .icon {
  padding: 8px;
  height: 1.3px;
  flex-direction: column;
}
.header .navbar .navbar-toggler .toggler-icon .icon:not(:last-child) {
  margin-bottom: 2px;
}
.header .navbar .menu {
  margin-top: 6rem;
  width: 100%;
  transform: rotate(-90deg);
  flex-direction: row-reverse;
}
@media (max-width: 1500px) {
  .header .navbar .menu {
    margin-top: 0rem;
    margin-left: 0rem;
    transform: rotate(0deg) !important;
    flex-direction: row;
  }
}
.header .navbar .menu .menu-nav {
  transform: skew(-15deg);
}
@media (max-width: 992px) {
  .header .navbar .menu .menu-nav {
    width: 100%;
    margin-top: 10px;
    z-index: 4 !important;
    position: fixed;
    transform: skew(0deg) !important;
    background-color: #0A0A0A !important;
  }
}
.header .navbar .menu .menu-nav .navbar-nav {
  padding: 0.5rem 1rem;
}
@media (max-width: 992px) {
  .header .navbar .menu .menu-nav .navbar-nav {
    padding: 2rem;
  }
}
.header .navbar .menu .menu-nav .navbar-nav .nav-item .nav-link {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.3px;
  font-family: "Orbitron", sans-serif;
  transition: all 0.3s ease-in-out !important;
}
@media (max-width: 992px) {
  .header .navbar .menu .menu-nav .navbar-nav .nav-item .nav-link {
    color: #E6E6E6 !important;
  }
}
.header .navbar .menu .menu-nav .navbar-nav .nav-item .nav-link:hover, .header .navbar .menu .menu-nav .navbar-nav .nav-item .nav-link:focus, .header .navbar .menu .menu-nav .navbar-nav .nav-item .nav-link:active {
  font-weight: 700;
  padding-left: 2rem;
  color: #532B88 !important;
}
.header .navbar .menu .button-lang {
  margin-right: 10rem;
  transform: rotate(90deg) !important;
}
@media (max-width: 992px) {
  .header .navbar .menu .button-lang {
    display: none;
  }
}
@media (max-width: 1500px) {
  .header .navbar .menu .button-lang {
    margin-right: 2rem;
    margin-left: 2rem;
    transform: rotate(0deg) !important;
  }
}

.introduction {
  height: 100vh;
  position: relative;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../company-code/assets/img/banner/banner-decor.png");
}
.introduction:hover img {
  filter: brightness(1.2) contrast(1.5);
}
@media (max-width: 992px) {
  .introduction {
    height: 100vh !important;
    background-attachment: scroll;
  }
}
@media (max-width: 1114px) {
  .introduction {
    height: 130vh;
  }
}
.introduction img {
  top: 0rem;
  right: 0rem;
  height: 100vh;
  position: fixed;
  filter: brightness(1) contrast(1.2);
  transition: filter 0.5s ease-out;
}
@media (max-width: 480px) {
  .introduction img {
    right: -4rem !important;
    height: 80vh !important;
  }
}
@media (max-width: 992px) {
  .introduction img {
    right: -10rem;
    overflow: hidden;
  }
}
.introduction h1 {
  margin-top: 6rem;
}
@media (max-width: 380px) {
  .introduction h1 {
    margin-top: 0rem !important;
  }
}
@media (max-width: 480px) {
  .introduction h1 {
    margin-top: 3rem;
  }
}
@media (max-width: 992px) {
  .introduction h1 {
    line-height: 9rem;
    font-size: 10rem !important;
  }
}
@media (max-width: 992px) {
  .introduction h1 br {
    display: none !important;
  }
}
@media (max-width: 480px) {
  .introduction .brand-name {
    line-height: 5rem !important;
    font-size: 5rem !important;
  }
}

@media (max-width: 480px) {
  #introduction {
    height: 80vh !important;
  }
}

.bg-light {
  background-color: #E6E6E6 !important;
}

.bg-dark {
  background-color: #0A0A0A !important;
}

.color-dark {
  color: #0A0A0A !important;
}

.color-light {
  color: #E6E6E6 !important;
}

/*# sourceMappingURL=style.css.map */
