.introduction {
    background-position: top center;
    background-image: url("../../../company-code/assets/img/banner/home/home_hero_woman.png");

    @include media-breakpoint-down(l) {
        height: 90vh;
        background-position: bottom;
    }

    h1 {
        @include media-breakpoint-down(s) {
            margin-top: 0rem !important;
        }

        @include media-breakpoint-down(l) {
            margin-top: 5rem;
        }
    }
}

.about,
.services {
    @include media-breakpoint-down(s) {
        padding: 0rem !important;
    }

    img {
        @include media-breakpoint-down(l) {
            margin-bottom: 2rem !important;
        }
    }

    .content {
        @include media-breakpoint-down(l) {
            padding: 2rem !important;
        }
    }
}

.intro-contact {
    .content {
        @include media-breakpoint-down(s) {
            padding: 2rem 0 !important;
        }
    }
}